<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div th:fragment="main-header">
    <link th:href="@{/css/header.css}" rel="stylesheet">

    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top py-2">
        <div class="container">
            <div class="row w-100 justify-content-center m-0">
                <div class="col-12 col-md-10 col-lg-8 d-flex justify-content-between align-items-center p-0 position-relative">

                    <div class="d-flex align-items-center">
                        <a class="navbar-brand fw-bold d-flex align-items-center m-0" th:href="@{/tasks}">
                            <i class="bi bi-grid-fill me-2 text-info"></i>
                            Task Manager
                        </a>
                    </div>

                    <span id="local-time-header" class="position-absolute start-50 translate-middle-x d-none d-md-block"></span>

                    <div class="d-flex align-items-center">
                        <ul class="navbar-nav">

                            <li class="nav-item" th:if="${currentUser == null}">
                                <a class="nav-link btn-login text-white fw-medium px-3" th:href="@{/login}">Login</a>
                            </li>

                            <li class="nav-item" th:if="${currentUser != null}">
                                <a class="nav-link btn-login text-white fw-medium px-3" th:href="@{/logout}">Logout</a>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </nav>
    <script th:src="@{/js/localTime.js}" defer></script>
</div>

</body>
</html>
