html {
    scrollbar-gutter: stable;
}
html, body {
    height: 100%;
}

body {

    padding-top: 55px !important;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1 0 auto;
}
